# Ignore project folders

/StatusQ/
/status-desktop/
/status-go/
/secondary/
/dogfooding/

# Data folders
/test-data/

# Personal
/architecture/
/debugging/

# Others
.vscode
*.qmlproject.user
CMakeLists.txt.user
.qt_for_python
/info/
/tmp/
build*/

.DS_Store
