# Ignore project folders

/StatusQ/
/status-desktop/
/status-desktop-cpp/
/status-go/
/secondary/
/dogfooding/
/walletconnect/
/status-mobile/

# System
venv/

# Data folders
/test-data/

# Personal
/architecture/
/debugging/

# Others
.vscode
*.qmlproject.user
CMakeLists.txt.user
.qt_for_python
/info/
/tmp/
build*/
tools/.*

.DS_Store
